<<<<<<< HEAD
.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.left { width: 70%; }
.right {
  width: 30%;
  background: #fff;
  padding: 15px;
}
=======
.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.left { width: 70%; }
.right {
  width: 30%;
  background: #fff;
  padding: 15px;
}
>>>>>>> 4d8a51be720f701d9be302a54bef6a6c5dc729a0
